 @font-face {
    font-family: Roboto;
     src: url(../fonts/Roboto/Roboto-Bold.ttf);
     src: url(../fonts/Roboto/Roboto-Regular.ttf); 
     
/*
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
*/
}

 @font-face {
    font-family: RobotoLight;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
 }

 @font-face {
    font-family: RobotoThin;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
 }


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srz1ge');
	src:url('../fonts/icomoon/icomoon.eot?srz1ge#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srz1ge') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srz1ge') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srz1ge#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-service:before {
	content: "\e919";
}
.icon-cloud:before {
	content: "\e913";
}
.icon-max:before {
	content: "\e914";
}
.icon-min:before {
	content: "\e915";
}
.icon-rain:before {
	content: "\e916";
}
.icon-sun:before {
	content: "\e917";
}
.icon-sunny:before {
	content: "\e918";
}
.icon-arr-left:before {
	content: "\e911";
}
.icon-arr-right:before {
	content: "\e912";
}
.icon-iphone:before {
	content: "\e907";
}
.icon-message:before {
	content: "\e909";
}
.icon-advertising:before {
	content: "\e900";
}
.icon-build:before {
	content: "\e901";
}
.icon-bus:before {
	content: "\e902";
}
.icon-car:before {
	content: "\e903";
}
.icon-education:before {
	content: "\e904";
}
.icon-facebook:before {
	content: "\e905";
}
.icon-google:before {
	content: "\e906";
}
.icon-medicine:before {
	content: "\e908";
}
.icon-rancho:before {
	content: "\e90a";
}
.icon-search:before {
	content: "\e90b";
}
.icon-shop:before {
	content: "\e90c";
}
.icon-tourism:before {
	content: "\e90d";
}
.icon-train:before {
	content: "\e90e";
}
.icon-trident:before {
	content: "\e90f";
}
.icon-twitter:before {
	content: "\e910";
}