/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1440px) {
    .header .header-left {
        margin-left: 80px;
    }
    
    .owl-carousel {
/*        width: 1040px !important;*/
/*        width: 960px !important;*/
        width: 1170px !important;
    }
    .block {
        width: 260px;
    }
    .owl-item {
        padding: 0 5px;
    }
    .owl-prev {
        left: -58px;
    }
    .owl-next {
        right: -36px;
    }
    
    .content-left {
        max-width: 740px;
        margin-left: 80px;
    }
    .bg {
/*        width: 830px;*/
        width: 110%;
        margin-left: -80px;
        padding: 0 154px 80px 80px;
    }
    
    .content-left {
        max-width: none;
        width: 65%;
    }
    
    .content-right {
        width: 280px;
        margin-left: 60px;
/*        padding-left: 25px;*/
    }
    
    
    .main-content .content-left {
        max-width: none;
        width: 45%;
    }
    .main-content .content-right {
/*
        margin-top: 0 !important;
        padding-top: 50px;
        padding-left: 20px;
*/
        width: 266px;
        margin-left: 20px;
        padding-left: 15px;
/*        margin-top: 0px;*/
        margin-top: 198px;
    }
    .tabs {
        padding: 35px 20px;
    }
    
    .article-dani .title {
        margin-left: 0;
    }
    
    .filter input[type="checkbox"] + label {
        margin: 0 5px 7px 0;
    }
    
    
    /*Payment*/
    .tariff-title {margin-left: 80px;}
    .payment-left {
        margin-left: 80px;
        width: 100%;
        max-width: 1000px;
    }
    .payment-right {display: none;}
}

/*
@media only screen and (max-width : 1310px) {
    
}
*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}