$colorRed: #be1723;
$colorLightGreen: #95c11f;

$colorBlue: #0079c4;
$colorLightBlue: #009ee2;
$colorDarkBlue: #1b7bc8;

$colorBrown: #a86f41;

$colorOrange: #fb9300;

$colorBorder: #d8d8d8;