@import "compass/css3";
@import "variable";

.no-padding {
    padding: 0 0;
}

.no-margin {
    margin: 0 0;
}

.container {
    max-width: 1450px;
    width: 100%;
    min-width: 1170px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0;
    padding: 0 0;
}

ul, li {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

hr {
    border-color: $colorBorder;
//    position: absolute;
    width: 100%;
    left: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: #ffffff;
//    overflow-x: hidden;
}

.wrapper {
    max-width: 1450px;
    width: 100%;
//    min-width: 1450px;
    
    min-width: 1200px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    z-index: 1;
}

.logo {
    max-width: 210px;
    width: 100%;
}

.header {
//    display: inline-block;
//    width: 100%;
    max-width: 1450px;
    width: 100%;
//    min-width: 1450px;
    
    min-width: 1200px;
    margin: 0 auto;
    padding-top: 22px;
    display: table;
//    &.main-header {
//        min-height: 100vh;
//        background: url(../../img/head.png) no-repeat left top;
//    }
//    padding-bottom: 35px;
//    border-bottom: 1px solid #ccc;
    .menu {
        margin-bottom: 40px;
    }
    .header-left {
        margin-left: 145px;
        margin-right: 75px;
        max-width: 210px;
    }
    .nav {
        height: 76px;
        line-height: 86px;
        >a {
            color: #000;
            font-size: 17px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            text-decoration: none;
            margin: 0 10px;
//            &:hover {
//                color: $colorRed !important;
//                border-bottom-color: rgba(190, 23, 35, 0.3) !important;
//            }
            &.active {
                color: $colorRed !important;
                border-bottom-color: rgba(190, 23, 35, 0.3) !important;
            }
        }
        .socials {
            display: inline-block;
            margin-left: 10px;
            >span {
                font-size: 12px;
                color: #000;
            }
            >a {
                text-decoration: none;
                margin: 0 5px;
                color: #fff;
                &.facebook {color: #21599e;}
                &.twitter {color: #2badef;}
                &.google {color: $colorOrange;}
            }
        }
    }
    
    .search {
        height: 60px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 20px;
        max-width: 700px;
        >input {
            font-size: 35px;
            border: none;
            color: #000;
            width: 430px;
            padding-right: 25px;
            background: transparent;
            min-height: 58px;
            float: left;
            font-family: RobotoThin;
        }
        >select {
            float: left;
            height: 58px;
            min-width: 177px;
            border: none;
            cursor: pointer;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding: 0 15px;
            @include border-radius (0);
            -webkit-appearance: none;
//            background: url(../../img/black-arrow-down.png) no-repeat center right 12px transparent;
            background: transparent;
        }
        >span {
            float: right;
            height: 58px;
            width: 45px;
            text-align: right;
            line-height: 58px;
            font-size: 22px;
            cursor: pointer;
        }
    }
    .example {
        padding: 15px 20px;
        color: #000;
        font-size: 14px;
    }
    
    .breather {
        width: 100%;
        max-width: 760px;
        display: inline-block;
//        background: rgba(0, 0, 0, 0.53);
        color: #fff;
        margin-top: 10px;
        >h1 {
            font-size: 36px;
            /* color: #000; */
//            margin-bottom: 35px;
            margin-bottom: 20px;
        }
        .breather-item {
//            display: inline-block;
            float: left;
//            width: 50%;
            width: 48%;
//            height: 95px;
            height: 75px;
            /* padding: 20px 25px 20px; */
            padding: 0 0 0 15px;
//            margin-bottom: 10px;
            margin-bottom: 5px;
            margin-right: 30px;
            border-radius: 10px;
            color: #fff;
//            background: #000;
            background: transparent;
            opacity: .5;
            position: relative;
            &:after {
                content: "";
                background: #000;
                position: absolute;
                width: 0;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.9);
                @include border-radius (5px);
                z-index: 1;
                @include transition (all .3s linear);
            }
            &:nth-child(2n+1) {
                margin-right: 0;
            }
            &:hover {
                &:after {
                    width: 100%;
                    @include transition (all .3s linear);
                }
//                background: rgba(0, 0, 0, 0.5);
//                opacity: 1;
            }
            .icon {
//                float: left;
//                padding: 25px 0;
//                margin-right: 30px;
//                position: relative;
//                z-index: 2;
                float: left;
                padding: 20px 0;
                /* margin-right: 30px; */
                margin-right: 20px;
                width: 40px;
                position: relative;
                z-index: 2;
                text-align: center;
                >span {
//                    font-size: 46px;
                    font-size: 32px;
                }
            }
            .info {
                float: left;
                width: 245px;
                font-family: RobotoThin;
                position: relative;
                z-index: 2;
                >h3 {
                    font-size: 18px;
//                    font-size: 24px;
//                    margin-bottom: 15px;
                    margin-bottom: 8px;
                    margin-top: 10px;
                }
                >p {
//                    font-size: 16px;
                    font-size: 14px;
                    width: 280px;
                }
            }
        }
    }

    
    .add-poster {
        a {
            height: 40px;
            width: 100%;
            display: block;
            line-height: 40px;
            border: 1px solid rgba(190, 23, 35, 0.3);
            color: $colorRed;
            font-size: 18px;
            margin-bottom: 20px;
            padding-left: 5px;
            border-radius: 5px;
            text-decoration: none;
            &:hover {
                color: $colorLightGreen;
                border-color: rgba(149, 193, 31, 0.3);
            }
        }
    }
    
    .notice {
        padding: 10px;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        >h2 {
            font-size: 20px;
            font-weight: normal;
            margin-bottom: 25px;
        }
        >ul {
            margin: 0 0;
            padding: 0 0;
            list-style: none;
            >li {
                list-style: none;
                margin-bottom: 10px;
                >a {
                    color: #fff;
                    font-size: 16px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    text-decoration: none;
                    font-family: RobotoLight;
                    &:hover {
//                        color: $colorRed !important;
//                        border-bottom-color: rgba(179, 22, 33, 0.3) !important;
                        border-bottom-color: transparent !important;
                    }
                }
            }
        }
    }
}
/*END HEADER*/
.content {
    display: inline-block;
    width: 100%;
    margin-bottom: 55px;
    padding-top: 20px;
}

.content-left {
    max-width: 895px;
    margin-left: 145px;
}


//Slider
.owl-carousel {
    width: 1290px !important;
    margin-left: 80px;
//    overflow: hidden;
}
.owl-pagination {
    text-align: center;
    width: 100%;
    max-width: 1260px;
    margin: 15px 0 20px;
    .owl-page {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid $colorBorder;
        position: relative;
        display: inline-block;
        margin: 0 9px;
        span {
            width: 12px;
            height: 12px;
            display: inline-block;
            background: transparent;
            border-radius: 50%;
            position: absolute;
            left: 1px;
            top: 1px;
        }
        &.active {
            span {
                background: $colorRed;
            }
        }
    }
}
.owl-prev,
.owl-next {
    position: absolute;
    z-index: 6;
    top: 37%;
    width: 21px;
    height: 42px;
    background: url(../../img/slide-arrows.png) no-repeat transparent;
    text-indent: -9999999px;
}
.owl-prev {
    left: -72px;
    background-position: 0 -49px;
}
.owl-next {
    right: -44px;
    background-position: 0 0;
}


.block {
    max-width: 293px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    border-bottom: 3px solid $colorBorder;
    padding-bottom: 25px;
    .foto {
        min-height: 180px;
        border-bottom: 4px solid $colorRed;
        img {
            max-width: 293px;
            width: 100%;
        }
    }
    .info {
        padding-left: 20px;
        padding-right: 5px;
        margin: 20px 0;
        border-right: 1px solid $colorBorder;
        h3 {
            font-size: 21px;
            color: #000;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p {
            color: #99a3b1;
            font-size: 12px;
        }
    }
    .more {
        padding-left: 20px;
        a {
            display: inline-block;
            display: inline-block;
            padding: 10px 15px;
            color: #fff;
            background: $colorRed;
            border-radius: 5px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
            text-decoration: none;
            &:hover {
                background: $colorLightGreen;
            }
        }
    }
}



/*CONTENT LEFT*/
.found {
    >h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        span {
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
    }
    >p {
        color: $colorRed;
        font-size: 16px;
        margin: 25px 0 25px;
    }
}

.filter {
    display: inline-block;
    width: 100%;
    max-width: 815px;
    padding-bottom: 10px;
//    border-bottom: 1px solid $colorBorder;
    
    >h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    input[type="checkbox"] {
        display:none;            
    }
    input[type="checkbox"] + label {
        font-size: 16px;
        font-weight: normal;
        color: #000;
        cursor: pointer;
        margin: 0 30px 7px 0;
        overflow: hidden;
        height: 22px;
    }
    input[type="checkbox"] + label::before {
        content: "";
        display: inline-block;
        height: 17px;
        width: 17px;
        margin: 0 7px -4px 0;
        background: #eceff4;
        border: 1px solid #cad3df;
        border-radius: 5px;
    }
    input[type="checkbox"]:checked + label::before {
        background: url(../../img/checkbox.png) no-repeat center #eceff4;
    }
    
}




.block-category {
    max-width: 820px;
    display: inline-block;
    width: 100%;
    border-top: 1px solid $colorBorder;
    border-bottom: 1px solid $colorBorder;
    padding: 20px 0;
}

.category {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    .foto {
        float: left;
        margin-right: 20px;
        max-width: 300px;
        overflow: hidden;
        >img {
//            max-width: 280px;
            height: 275px;
            float: left;
            margin-left: -10%;
            &.small-foto {
                height: 190px;
            }
        }
    }
    .info {
        .category-head {
            margin-bottom: 25px;
            .category-logo {
                max-width: 100px;
                margin-right: 30px;
                img {
                    max-width: 100px;
                    min-width: 100px;
                }
            }
            h2 {
                font-size: 30px;
                font-weight: 600;
                line-height: 40px;
                a {
                    text-decoration: none;
                    color: #000;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                    &:hover {
                        color: $colorRed;
                        border-bottom-color: rgba(190, 23, 35, 0.3);
                    }
                }
            }
            p {
                height: 18px;
                line-height: 18px;
                color: #000;
                margin: 7px 0 7px;
                span {
                    margin-right: 15px;
                    float: left;
                    color: $colorRed;
                    font-size: 18px;
                    &.icon-message {
                        margin-left: 3px;
                    }
                }
                a {
                    color: $colorLightBlue;
                    border-bottom: 1px solid rgba(0, 158, 226, 0.3);
                    text-decoration: none;
                }
            }
            
        }
    }
    .top {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        >h2 {
            font-size: 30px;
            font-weight: 600;
            line-height: 40px;
            margin-bottom: 20px;
            a {
                text-decoration: none;
                color: #000;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                &:hover {
                    color: $colorRed;
                    border-bottom-color: rgba(190, 23, 35, 0.3);
                }
            }
        }
    }
    .bottom {
        
    }
    .category-name {
        margin: 20px 0;
        a {
            padding: 5px 7px;
            float: left;
            color: #fff;
            background: #b52b86;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
            border-radius: 3px;
        }
    }
    .category-links {
        a {
            float: left;
            padding: 5px;
            margin-right: 9px;
            font-size: 14px;
            color: $colorDarkBlue;
            border: 1px solid rgba(27, 123, 200, 0.3);
            border-radius: 3px;
            line-height: 15px;
            text-decoration: none;
            &:hover {
                background: $colorDarkBlue;
                color: #fff;
            }
        }
    }
}

.page-nav {
    margin: 40px 0;
    a {
        float: left;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 35px;
        color: #54657e;
        background: #fff;
        text-decoration: none;
        font-size: 17px;
        margin: 0 2px;
        &.icon {
            font-size: 13px;
            margin: 0 0;
        }
        &:hover {
            color: $colorRed;
        }
        &.active {
            border-radius: 50%;
            background: $colorRed;
            color: #fff;
        }
    }
    span {
        float: left;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 35px;
        color: #54657e;
        background: #fff;
        text-decoration: none;
    }
}


.bg {
    display: inline-block;
    width: 1040px;
    min-height: 500px;
    background: #f8f8f8;
    margin-left: -145px;
    padding: 0 154px 80px 145px;
    
    .block-article {
        display: inline-block;
        width: 100%;
//        height: 500px;
//    background: #f8f8f8;
    }
}

.article {
    display: inline-block;
    width: 100%;
    margin: 30px 0;
    .article-head {
        .article-logo {
            max-width: 100px;
            margin-right: 30px;
            img {
                max-width: 100px;
                min-width: 100px;
            }
        }
//        img {
//            max-width: 108px;
//        }
        h2 {
            font-size: 30px;
            font-weight: 600;
            line-height: 40px;
            margin-bottom: 10px;
            a {
                text-decoration: none;
                color: #000;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                &:hover {
                    color: $colorRed;
                    border-bottom-color: rgba(190, 23, 35, 0.3);
                }
            }
//            &.red {
//                color: $colorRed;
//                span {
//                    border-bottom-color: rgba(190, 23, 35, 0.3);
//                }
//            }
        }
        p {
            font-size: 16px;
        }
        p {
            height: 18px;
            line-height: 18px;
            color: #000;
            margin: 7px 0 7px;
            span {
                margin-right: 15px;
                float: left;
                color: $colorRed;
                font-size: 18px;
                &.icon-message {
                    margin-left: 3px;
                }
            }
            a {
                color: $colorLightBlue;
                border-bottom: 1px solid rgba(0, 158, 226, 0.3);
                text-decoration: none;
            }
        }
    }
    .foto {
        margin: 20px 0 25px;
        img {
            width: 100%;
            max-width: 741px;
        }
    }
    .info {
        p {
            font-size: 16px;
        }
    }
    .article-links {
        margin-top: 20px;
        a {
            float: left;
            padding: 5px;
            margin-right: 9px;
            font-size: 14px;
            color: $colorDarkBlue;
            border: 1px solid rgba(27, 123, 200, 0.3);
            border-radius: 3px;
            line-height: 15px;
            text-decoration: none;
            &:hover {
                background: $colorDarkBlue;
                color: #fff;
            }
        }
    }
}


.block-news {
    display: inline-block;
    max-width: 750px;
    width: 100%;
    border-bottom: 1px solid $colorBorder;
}
.news {
    display: inline-block;
    width: 100%;
    margin: 30px 0;
    .news-head {
        h2 {
            font-size: 30px;
            font-weight: 600;
            line-height: 40px;
            margin-bottom: 10px;
            a {
                text-decoration: none;
                color: #000;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                &:hover {
                    color: $colorRed;
                    border-bottom-color: rgba(190, 23, 35, 0.3);
                }
            }
        }
        p {
            font-size: 16px;
        }
    }
    .foto {
        margin: 20px 0 25px;
    }
    .info {
        p {
            font-size: 16px;
        }
    }
    .news-name {
        padding-top: 20px;
        margin: 40px 0 0;
        border-top: 1px solid $colorBorder;
        a {
            padding: 5px 7px;
            float: left;
            color: #fff;
            background: #b52b86;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
            border-radius: 3px;
        }
    }
    .news-links {
        margin-top: 20px;
        a {
            float: left;
            padding: 5px;
            margin-right: 9px;
            font-size: 14px;
            color: $colorDarkBlue;
            border: 1px solid rgba(27, 123, 200, 0.3);
            border-radius: 3px;
            line-height: 15px;
            text-decoration: none;
            &:hover {
                background: $colorDarkBlue;
                color: #fff;
            }
        }
    }
}

.socials-share {
    margin-top: 30px;
    ul {
        list-style: none;
        li {
            float: left;
            margin: 0;
            a {
                display: block;
                margin-right: 10px;
                overflow: hidden;
                padding: 1px;
                &.facebook {
                    .icon {
                        background-position: 5px 0px;
                        border-color: #4565af;
                    }
                }
                &.vk {
                    .icon {
                        background-position: -28px 0px;
                        border-color: #6996c7;
                    }
                }
                &.twitter {
                    .icon {
                        background-position: -84px 0px;
                        border-color: #28c3ff;
                    }
                }
                &.odnoklassniki {
                    .icon {
                        background-position: -133px 0px;
                        border-color: #f3944c;
                    }
                }
                &.googleplus {
                    .icon {
                        background-position: -183px 0px;
                        border-color: #ff714f;
                    }
                }
                &:hover {
                    &.facebook {
                    .icon {
                        background-position: -8px 0;
                        background-color: #4565af;
                        border-color: #4565af;
                    }
                    }
                    &.vk {
                        .icon {
                            background-position: -55px 0px;
                            background-color: #6996c7;
                            border-color: #6996c7;
                        }
                    }
                    &.twitter {
                        .icon {
                            background-position: -111px 0px;
                            background-color: #28c3ff;
                            border-color: #28c3ff;
                        }
                    }
                    &.odnoklassniki {
                        .icon {
                            background-position: -156px 0px;
                            background-color: #f3944c;
                            border-color: #f3944c;
                        }
                    }
                    &.googleplus {
                        .icon {
                            background-position: -208px 0px;
                            background-color: #ff714f;
                            border-color: #ff714f;
                        }
                    }
                    .counter {
                        background-color: #f3f5f9;
                    }
                }
                .icon {
                    display: block;
                    position: relative;
                    width: 22px;
                    height: 22px;
                    border: 1px solid #4565af;
                    background: #fff;
                    @include border-radius (3px);
                    background-image: url('../../img/socials.png');
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    float: left;
                }
                .counter {
                    display: block;
                    float: left;
                    height: 22px;
                    border: 1px solid #cad4e7;
                    margin-left: 8px;
                    font-size: 12px;
                    padding: 0 5px;
                    @include border-radius (3px);
                    color: #000;
                    background: #fff;
                    position: relative;
                    line-height: 20px;
                    &:before {
                        content: '';
                        position: absolute;
                        border: 1px solid #cad4e7;
                        border-right: none;
                        border-bottom: none;
                        background: #fff;
                        width: 7px;
                        height: 7px;
                        left: -4px;
                        top: 6px;
                        @include transform (rotate(-45deg));
                    }
                }
            }
        }
    }
}


/*CONTENT RIGHT*/
.content-right {
//    max-width: 265px;
    width: 300px;
    margin-left: 60px;
//    margin-left: 80px;
    
    padding-left: 25px;
    border-left: 1px solid $colorBorder;
//    float: right;
}

.accordion-breather {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    >h2 {
        font-size: 18px;
        padding: 25px 0;
        display: inline-block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $colorBorder;
        text-transform: uppercase;
    }
    h3 {
        color: #ac754d;
        font-size: 14px;
        cursor: pointer;
        outline: none;
        height: 28px;
        line-height: 28px;
        padding: 0 10px;
        border-bottom: 1px solid $colorBorder;
        >span {
            width: 9px;
            height: 9px;
            float: left;
            margin-top: 9px;
            margin-right: 10px;
        }
    }
    div {
        >p {
            color: #ac754d;
            font-size: 14px;
            cursor: pointer;
            outline: none;
            height: 28px;
            line-height: 28px;
            padding-left: 50px;
            border-bottom: 1px solid #d8d8d8;
            overflow: hidden;
            >a {
                color: #ac754d;
                text-decoration: none;
            }
        }
    }
    >.show-all {
        margin: 20px 0;
        padding-left: 28px;
        display: inline-block;
        width: 100%;
        a {
            font-size: 18px;
            text-decoration: none;
            color: $colorRed;
        }
    }
}

.ui-state-default .ui-icon {
//    background: #0f0;
    background: url(../../img/accordion-icon.png) no-repeat center left !important;
//    background-position: 0 0;
}
.ui-state-active .ui-icon {
    background: url(../../img/accordion-icon.png) no-repeat center right !important;
//    background-position: 0 0;
//    background: #f00;
}


.timetable-move {
    margin-bottom: 30px;
    >h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    a {
        border: 1px solid;
        text-decoration: none;
        border-radius: 5px;
        padding: 0 8px;
        height: 33px;
        display: inline-block;
        line-height: 32px;
        margin-bottom: 15px;
        span {
            margin-right: 5px;
            font-size: 18px;
            float: left;
            margin-top: 6px;
            &.icon-train {
                font-size: 20px;
            }
        }
        &.bus {
            border-color: rgba(190, 21, 34, 0.3); color: $colorRed;
            &:hover {
                background: $colorRed;
                color: #fff;
            }
        }
        &.train {
            border-color: rgba(10, 52, 103, 0.3); color: #0a3467;margin-bottom: 0;
            &:hover {
                background: #0a3467;
                color: #fff;
            }
        }
    }
}

.afisha {
    margin-bottom: 30px;
    >h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    a {
        padding: 5px;
        border: 1px solid rgba(27, 123, 200, 0.3);
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 8px;
        text-decoration: none;
        color: $colorDarkBlue;
        &.lumer {
            color: #76666b;
            &:hover {
                background: #76666b;
                color: #fff;
            }
        }
        &.space {
            color: #0b41af;
            &:hover {
                background: #0b41af;
                color: #fff;
            }
        }
        &.filarmonia {
            color: #7fbb02;
            &:hover {
                background: #7fbb02;
                color: #fff;
            }
        }
        &.dols {
            color: #eb4146;
            &:hover {
                background: $colorRed;
                color: #fff;
            }
        }
        &.drama {
            color: #2c8fc0;
            &:hover {
                background: #2c8fc0;
                color: #fff;
            }
        }
    }
}

.slide-item {
    margin-bottom: 30px;
}

/*ПОГОДА*/
.weather {
    display: inline-block;
    width: 106%;
    margin-bottom: 30px;
    >h3 {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .time {
        font-size: 14px;
        color: #9b9b9b;
        display: block;
        margin-bottom: 15px;
    }
    .part-of-day {
        float: left;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        >span {
            font-size: 14px;
            color: #9b9b9b;
            display: block;
            height: 16px;
            margin-bottom: 10px;
        }
    }
    .group {
        float: left;
        margin-right: 13px;
        &:last-child {
            margin-right: 0;
        }
        .icon {
            font-size: 10px;
            &.icon-max {color: #ff4343;}
            &.icon-min {color: #1bbcff;}
        }
        .deg {
            font-size: 13px;
            font-family: RobotoThin;
        }
    }
    
    .today {
        .deg {
            font-size: 74px;
            font-family: RobotoThin;
            margin-right: 10px;
            display: inline-block;
        }
        .icon {
            font-size: 58px;
        }
    }
    
    .tomorrow {
        margin: 35px 0 40px;
        .icon {
            font-size: 42px;
            margin: 0 10px 0 15px;
            display: inline-block;
        }
        .deg {
            font-size: 20px;
        }
    }
    
    .week {
        .week-item {
            float: left;
            margin: 0 9px;
            &:first-child {margin-left: 0;}
            &:last-child {margin-right: 0;}
            span {
                display: block;
                text-align: center;
                font-size: 13px;
                height: 14px;
            }
            .day {
                text-transform: uppercase;
                color: #000;
            }
            .icon {
                font-size: 22px;
                margin: 10px 0 15px;
            }
        }
    }
    .icon-rain {color: #2990ae;}
    .icon-cloud {color: #1bbcff; font-size: 16px !important; padding-top: 5px;}
    .icon-sun {color: #ff9313;}
    .icon-sunny {color: #ff9313;}
    
//    .asd {color: #2990ae;}
}


.ticket {
    margin-bottom: 30px;
    img {
        width: 100%;
        max-width: 220px;
    }
}

.dovidka-contact {
    margin-bottom: 30px;
    >h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    >p {
        color: #000;
        font-size: 14px;
        margin: 10px 0;
        display: inline-block;
        width: 100%;
        a {
            text-decoration: none;
            color: $colorDarkBlue;
            border-bottom: 1px solid rgba(27, 123, 200, 0.3);
        }
    }
}


.popular-themes {
//    margin-bottom: 30px;
    >h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    a {
        text-decoration: none;
        display: inline-block;
        padding: 10px 7px;
        border: 1px solid rgba(27, 123, 200, 0.3);
        border-radius: 5px;
        margin-bottom: 9px;
        height: 34px;
        line-height: 14px;
        color: $colorDarkBlue;
        &:hover {
            background: $colorDarkBlue;
            color: #fff;
        }
    }
    li:last-child {
        a {
            margin-bottom: 0;
        }
    }
}


.main-header {
    background: url(../../img/head.png) no-repeat center;
//    height: 100vh;
//    min-height: 1000px;
    background-size: cover;
    width: 100%;
//    min-width: 1450px;
    min-width: 1200px;
    a {
        color: #fff !important;
        border-bottom-color: rgba(255, 255, 255, 0.3) !important;
    }
    span {
        color: #fff !important;
    }
    .header .header-left {
        margin-left: 80px;
    }
    .add-poster {
        a {
            color: #009bde !important;
            background: transparent;
            border: 1px solid #009bde !important;
            &:hover {
                color: #fff !important;
                background: #009bde;
            }
        }
    }
    input, .example  {
        color: #fff !important;
    }
    select {
        color: #fff;
//        background: url(../../img/white-arrow-down.png) no-repeat center right 12px transparent !important;
        option {
            color: #000 !important;
        }
    }
}
.main-content {
    .content-left {
        margin-left: 80px;
        max-width: 740px;
    }
    .content-right {
//        margin-left: 15px;
//        padding-left: 15px;
            
        width: 266px;
        margin-left: 35px;
        padding-left: 15px;
        margin-top: 197px;

    }
}

/*PAyment*/
.payment-left {
    max-width: 980px;
    margin-left: 145px;
}
.tariff-title {
    margin-left: 145px;
    margin-bottom: 25px;
    max-width: 1000px;
    >h1 {
        font-size: 36px;
        font-weight: 600;
    }
}

.tariffs {
    max-width: 300ppx;
    width: 300px;
    margin-right: 35px;
    border: 1px solid $colorBorder;
    min-height: 560px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    &:hover {
        @include box-shadow (0 0 10px rgba(0, 0, 0, 0.2));
    }
    &:last-child {
        margin-right: 0;
    }
    .payment-head {
        height: 70px;
        padding: 20px 25px 10px;
        background: #fff;
        color: #fff;
        &.test {background: #bababa;}
        &.standart {background: #ffae00;}
        &.full {background: $colorRed;}
        .left {
            .level {
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 12px;
            }
            .kind {
                font-size: 21px;
            }
        }
        .right {
            text-align: right;
            line-height: 40px;
            .price {
                font-size: 38px;
            }
            .per-month {
                font-size: 12px;
            }
        }
    }
    .payment-rule {
        li {
            text-align: center;
            span {
                border-bottom: 1px dashed $colorBorder;
                padding: 15px 0 10px;
                display: inline-block;
                color: rgba(0, 0, 0, 0.5);
                font-size: 13px;
            }
        }
    }
    >p {
        font-size: 13px;
        width: 250px;
        margin: 10px auto 0;
    }
    .choose {
        position: absolute;
        left: 0;
        bottom: 35px;
        width: 100%;
        text-align: center;
        a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            width: 212px;
            height: 42px;
            line-height: 42px;
            background: $colorLightGreen;
            border-radius: 5px;
            font-size: 24px;
            cursor: pointer;
            &:hover {
                background: $colorRed;
            }
        }
    }
}


.payment-right {
    max-width: 300px;
    padding-left: 40px;
}


//TABS
.tabs {
    background: #fafafa;
    padding: 35px 40px;
    >h2 {
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
    }
    >ul {
        display: inline-block;
        width: 100%;
        margin: 20px 0 30px;
        border: 1px solid #8092aa;
        outline: none;
        border-radius: 5px;
        overflow: hidden;
        li {
            float: left;
            width: 50%;
            text-align: center;
            height: 35px;
            line-height: 35px;
            outline: none;
            a {
                text-decoration: none;
                color: #000;
                display: block;
                outline: none;
            }
            &.ui-tabs-active.ui-state-active {
                background: #8092aa;
                a {
                    color: #fff;
                }
            }
        }
    }
    .data {
        display: block;
        font-size: 14px;
        color: #7f7f7f;
        text-align: center;
        margin-bottom: 25px;
    }
    .show-all {
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        a {
            text-decoration: none;
            display: inline-block;
            padding: 10px 7px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            margin-bottom: 9px;
            line-height: 16px;
            font-size: 18px;
            color: #000; 
        }
    }
}

.event-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    >span {
        display: block;
        font-size: 14px;
        color: #7f7f7f;
        text-align: center;
        margin-bottom: 25px;
    }
    .time {
//        border-bottom: 1px dashed;
        height: 20px;
        display: inline-block;
        width: 100%;
        position: relative;
        text-align: center;
        margin-bottom: 5px;
        span {
            font-size: 14px;
            color: $colorBrown;
            background: #fafafa;
            position: relative;
            z-index: 2;
        }
        hr {
            position: absolute;
            top: 45%;
            left: 0;
            border-top: 1px dashed #000;
            margin: 0 0;
            padding: 0 0;
            z-index: 1;
        }
    }
    .event {
        text-decoration: none;
        border-bottom: 1px solid rgba(27, 123, 200, 0.3);
        color: $colorDarkBlue;
    }
}


.single-article {
    display: inline-block;
    width: 100%;
    max-width: 800px; 
}

.single-article-links {
    margin-bottom: 20px;
    ul {
        list-style: none;
        li {
            float: left;
            list-style: none;
            a {
                float: left;
                padding: 5px;
                margin-right: 9px;
                font-size: 14px;
                color: #000;
                border: 1px solid transparent;
                border-radius: 3px;
                line-height: 15px;
                text-decoration: none;
                &:hover {
                    color: rgba(0, 0, 0, 0.5);
                }
                &.active {
                    color: $colorRed;
                    border-color: rgba(190, 23, 35, 0.3);
                }
            }
        }
    }
}

.article-dani {
    margin-bottom: 25px;
    .title {
        margin-left: -145px;
        float: left;
        line-height: 35px;
        font-size: 16px;
        color: #666666;
    }
    .name {
        font-size: 24px;
        float: left;
        border-bottom: 1px solid $colorBorder;
        padding-bottom: 15px;
        width: 100%;
        max-width: 800px;
    }
    .link {
//        font-size: 24px;
        float: left;
//        border-bottom: 1px solid $colorBorder;
//        padding-bottom: 15px;
        width: 100%;
        max-width: 800px;
        margin-top: 5px;
        a {
            padding: 5px 7px;
            float: left;
            color: #fff;
            background: #b52b86;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
            border-radius: 3px;
        }
    }
    .links {
//        font-size: 24px;
        float: left;
        border-bottom: 1px solid $colorBorder;
        padding-bottom: 15px;
        width: 100%;
        max-width: 800px;
        margin-top: 5px;
        >a {
            float: left;
            padding: 5px;
            margin-right: 9px;
            font-size: 14px;
            color: #1b7bc8;
            border: 1px solid rgba(27, 123, 200, 0.3);
            border-radius: 3px;
            line-height: 15px;
            text-decoration: none;
        }
    }
}

.map {
//    display: inline-block;
    margin: 20px 0 15px;
    width: 100%;
    height: 315px;
    max-width: 800px;
}

.recomend,
.lateastAdd {
    border-bottom: 1px solid $colorBorder;
    font-size: 24px;
    color: #8092aa;
    padding-bottom: 20px;
    text-align: center;
}

.more-news {
    display: inline-block;
    width: 100%;
    a {
        width: 156px;
        height: 46px;
        text-align: left;
        padding-left: 15px;
        text-decoration: none;
        line-height: 46px;
        font-size: 18px;
        font-weight: bold;
        left: 46px;
        display: inline-block;
        border-radius: 5px;
        color: #fff;
        background: url(../../img/arrow-right.png) no-repeat center right 15px $colorRed;
        &:hover {
            background-color: $colorLightGreen;
        }
    }
}

.might-intresting {
    margin-bottom: 25px;
    strong {
        font-weight: 600;
        font-size: 18px;
        color: #000;
    }
}

/*FOOTER BEGIN*/
.footer {
    border-top: 5px solid #000;
    width: 100%;
    min-width: 1200px;
    display: inline-block;
//    padding-bottom: 20px;
    padding: 0 20px 20px;
}

.breadcrumbels {
    padding: 15px 0;
    border-bottom: 1px solid $colorBorder;
    margin-bottom: 30px;
    ul {
        margin: 0 0;
        padding: 0 0;
        li {
            float: left;
            padding-right: 22px;
            margin-right: 5px;
            list-style: none;
//            list-style-image: 
            background: url(../../img/list-arrow.png) no-repeat center right;
            &:last-child {
                list-style: none;
                background: transparent;
            }
            a {
                text-decoration: none;
                color: $colorDarkBlue;
                font-size: 16px;
                &:hover {
                    color: $colorRed;
                }
            }
            span {
                font-size: 16px;
                color: #000;
            }
        }
    }
}

.footer-nav {
    h4 {
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 15px;
        span {
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
    }
    ul {
        margin: 0 0;
        padding: 0 0;
        list-style: none;
        li {
            display: block;
            list-style: none;
            a {
                text-decoration: none;
                text-decoration: none;
                color: $colorDarkBlue;
                font-size: 12px;
                border-bottom: 1px solid rgba(27, 123, 200, 0.3);
                &:hover {
                    color: $colorRed;
                    border-bottom-color: rgba(190, 23, 35, 0.3);
                }
            }
        }
    }
}

.copyraite {
    margin-top: 45px;
    p {
        color: #000;
        text-indent: -13px;
        max-width: 400px;
        font-size: 12px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .header .search > select {
        background: url(../../img/black-arrow-down.png) no-repeat center right 10px transparent;
    } 
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .main-header select {
        background: url(../../img/white-arrow-down.png) no-repeat center right 10px transparent !important;
    } 
}
