@charset "UTF-8";
/* line 4, ../sass/main.scss */
.no-padding {
  padding: 0 0;
}

/* line 8, ../sass/main.scss */
.no-margin {
  margin: 0 0;
}

/* line 12, ../sass/main.scss */
.container {
  max-width: 1450px;
  width: 100%;
  min-width: 1170px;
}

/* line 18, ../sass/main.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0 0;
  padding: 0 0;
}

/* line 23, ../sass/main.scss */
ul, li {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

/* line 29, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 33, ../sass/main.scss */
input {
  outline: none;
}

/* line 37, ../sass/main.scss */
hr {
  border-color: #d8d8d8;
  width: 100%;
  left: 0;
}

/* line 44, ../sass/main.scss */
body {
  font-family: Roboto, sans-serif;
  background: #ffffff;
}

/* line 50, ../sass/main.scss */
.wrapper {
  max-width: 1450px;
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  z-index: 1;
}

/* line 62, ../sass/main.scss */
.logo {
  max-width: 210px;
  width: 100%;
}

/* line 67, ../sass/main.scss */
.header {
  max-width: 1450px;
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  padding-top: 22px;
  display: table;
}
/* line 84, ../sass/main.scss */
.header .menu {
  margin-bottom: 40px;
}
/* line 87, ../sass/main.scss */
.header .header-left {
  margin-left: 145px;
  margin-right: 75px;
  max-width: 210px;
}
/* line 92, ../sass/main.scss */
.header .nav {
  height: 76px;
  line-height: 86px;
}
/* line 95, ../sass/main.scss */
.header .nav > a {
  color: #000;
  font-size: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-decoration: none;
  margin: 0 10px;
}
/* line 105, ../sass/main.scss */
.header .nav > a.active {
  color: #be1723 !important;
  border-bottom-color: rgba(190, 23, 35, 0.3) !important;
}
/* line 110, ../sass/main.scss */
.header .nav .socials {
  display: inline-block;
  margin-left: 10px;
}
/* line 113, ../sass/main.scss */
.header .nav .socials > span {
  font-size: 12px;
  color: #000;
}
/* line 117, ../sass/main.scss */
.header .nav .socials > a {
  text-decoration: none;
  margin: 0 5px;
  color: #fff;
}
/* line 121, ../sass/main.scss */
.header .nav .socials > a.facebook {
  color: #21599e;
}
/* line 122, ../sass/main.scss */
.header .nav .socials > a.twitter {
  color: #2badef;
}
/* line 123, ../sass/main.scss */
.header .nav .socials > a.google {
  color: #fb9300;
}
/* line 128, ../sass/main.scss */
.header .search {
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 20px;
  max-width: 700px;
}
/* line 134, ../sass/main.scss */
.header .search > input {
  font-size: 35px;
  border: none;
  color: #000;
  width: 430px;
  padding-right: 25px;
  background: transparent;
  min-height: 58px;
  float: left;
  font-family: RobotoThin;
}
/* line 145, ../sass/main.scss */
.header .search > select {
  float: left;
  height: 58px;
  min-width: 177px;
  border: none;
  cursor: pointer;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 15px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background: transparent;
}
/* line 159, ../sass/main.scss */
.header .search > span {
  float: right;
  height: 58px;
  width: 45px;
  text-align: right;
  line-height: 58px;
  font-size: 22px;
  cursor: pointer;
}
/* line 169, ../sass/main.scss */
.header .example {
  padding: 15px 20px;
  color: #000;
  font-size: 14px;
}
/* line 175, ../sass/main.scss */
.header .breather {
  width: 100%;
  max-width: 760px;
  display: inline-block;
  color: #fff;
  margin-top: 10px;
}
/* line 182, ../sass/main.scss */
.header .breather > h1 {
  font-size: 36px;
  /* color: #000; */
  margin-bottom: 20px;
}
/* line 188, ../sass/main.scss */
.header .breather .breather-item {
  float: left;
  width: 48%;
  height: 75px;
  /* padding: 20px 25px 20px; */
  padding: 0 0 0 15px;
  margin-bottom: 5px;
  margin-right: 30px;
  border-radius: 10px;
  color: #fff;
  background: transparent;
  opacity: .5;
  position: relative;
}
/* line 206, ../sass/main.scss */
.header .breather .breather-item:after {
  content: "";
  background: #000;
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 219, ../sass/main.scss */
.header .breather .breather-item:nth-child(2n+1) {
  margin-right: 0;
}
/* line 223, ../sass/main.scss */
.header .breather .breather-item:hover:after {
  width: 100%;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 230, ../sass/main.scss */
.header .breather .breather-item .icon {
  float: left;
  padding: 20px 0;
  /* margin-right: 30px; */
  margin-right: 20px;
  width: 40px;
  position: relative;
  z-index: 2;
  text-align: center;
}
/* line 244, ../sass/main.scss */
.header .breather .breather-item .icon > span {
  font-size: 32px;
}
/* line 249, ../sass/main.scss */
.header .breather .breather-item .info {
  float: left;
  width: 245px;
  font-family: RobotoThin;
  position: relative;
  z-index: 2;
}
/* line 255, ../sass/main.scss */
.header .breather .breather-item .info > h3 {
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 10px;
}
/* line 262, ../sass/main.scss */
.header .breather .breather-item .info > p {
  font-size: 14px;
  width: 280px;
}
/* line 273, ../sass/main.scss */
.header .add-poster a {
  height: 40px;
  width: 100%;
  display: block;
  line-height: 40px;
  border: 1px solid rgba(190, 23, 35, 0.3);
  color: #be1723;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 5px;
  border-radius: 5px;
  text-decoration: none;
}
/* line 285, ../sass/main.scss */
.header .add-poster a:hover {
  color: #95c11f;
  border-color: rgba(149, 193, 31, 0.3);
}
/* line 292, ../sass/main.scss */
.header .notice {
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
/* line 297, ../sass/main.scss */
.header .notice > h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
}
/* line 302, ../sass/main.scss */
.header .notice > ul {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}
/* line 306, ../sass/main.scss */
.header .notice > ul > li {
  list-style: none;
  margin-bottom: 10px;
}
/* line 309, ../sass/main.scss */
.header .notice > ul > li > a {
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration: none;
  font-family: RobotoLight;
}
/* line 315, ../sass/main.scss */
.header .notice > ul > li > a:hover {
  border-bottom-color: transparent !important;
}

/*END HEADER*/
/* line 326, ../sass/main.scss */
.content {
  display: inline-block;
  width: 100%;
  margin-bottom: 55px;
  padding-top: 20px;
}

/* line 333, ../sass/main.scss */
.content-left {
  max-width: 895px;
  margin-left: 145px;
}

/* line 340, ../sass/main.scss */
.owl-carousel {
  width: 1290px !important;
  margin-left: 80px;
}

/* line 345, ../sass/main.scss */
.owl-pagination {
  text-align: center;
  width: 100%;
  max-width: 1260px;
  margin: 15px 0 20px;
}
/* line 350, ../sass/main.scss */
.owl-pagination .owl-page {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  position: relative;
  display: inline-block;
  margin: 0 9px;
}
/* line 358, ../sass/main.scss */
.owl-pagination .owl-page span {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  top: 1px;
}
/* line 369, ../sass/main.scss */
.owl-pagination .owl-page.active span {
  background: #be1723;
}

/* line 375, ../sass/main.scss */
.owl-prev,
.owl-next {
  position: absolute;
  z-index: 6;
  top: 37%;
  width: 21px;
  height: 42px;
  background: url(../../img/slide-arrows.png) no-repeat transparent;
  text-indent: -9999999px;
}

/* line 385, ../sass/main.scss */
.owl-prev {
  left: -72px;
  background-position: 0 -49px;
}

/* line 389, ../sass/main.scss */
.owl-next {
  right: -44px;
  background-position: 0 0;
}

/* line 395, ../sass/main.scss */
.block {
  max-width: 293px;
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  border-bottom: 3px solid #d8d8d8;
  padding-bottom: 25px;
}
/* line 403, ../sass/main.scss */
.block .foto {
  min-height: 180px;
  border-bottom: 4px solid #be1723;
}
/* line 406, ../sass/main.scss */
.block .foto img {
  max-width: 293px;
  width: 100%;
}
/* line 411, ../sass/main.scss */
.block .info {
  padding-left: 20px;
  padding-right: 5px;
  margin: 20px 0;
  border-right: 1px solid #d8d8d8;
}
/* line 416, ../sass/main.scss */
.block .info h3 {
  font-size: 21px;
  color: #000;
  font-weight: 600;
  margin-bottom: 10px;
}
/* line 422, ../sass/main.scss */
.block .info p {
  color: #99a3b1;
  font-size: 12px;
}
/* line 427, ../sass/main.scss */
.block .more {
  padding-left: 20px;
}
/* line 429, ../sass/main.scss */
.block .more a {
  display: inline-block;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  background: #be1723;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  text-decoration: none;
}
/* line 440, ../sass/main.scss */
.block .more a:hover {
  background: #95c11f;
}

/*CONTENT LEFT*/
/* line 451, ../sass/main.scss */
.found > h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
/* line 455, ../sass/main.scss */
.found > h1 span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 459, ../sass/main.scss */
.found > p {
  color: #be1723;
  font-size: 16px;
  margin: 25px 0 25px;
}

/* line 466, ../sass/main.scss */
.filter {
  display: inline-block;
  width: 100%;
  max-width: 815px;
  padding-bottom: 10px;
}
/* line 473, ../sass/main.scss */
.filter > h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}
/* line 478, ../sass/main.scss */
.filter input[type="checkbox"] {
  display: none;
}
/* line 481, ../sass/main.scss */
.filter input[type="checkbox"] + label {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  cursor: pointer;
  margin: 0 30px 7px 0;
  overflow: hidden;
  height: 22px;
}
/* line 490, ../sass/main.scss */
.filter input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 17px;
  width: 17px;
  margin: 0 7px -4px 0;
  background: #eceff4;
  border: 1px solid #cad3df;
  border-radius: 5px;
}
/* line 500, ../sass/main.scss */
.filter input[type="checkbox"]:checked + label::before {
  background: url(../../img/checkbox.png) no-repeat center #eceff4;
}

/* line 509, ../sass/main.scss */
.block-category {
  max-width: 820px;
  display: inline-block;
  width: 100%;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 20px 0;
}

/* line 518, ../sass/main.scss */
.category {
  margin-bottom: 30px;
}
/* line 520, ../sass/main.scss */
.category:last-child {
  margin-bottom: 0;
}
/* line 523, ../sass/main.scss */
.category .foto {
  float: left;
  margin-right: 20px;
  max-width: 300px;
  overflow: hidden;
}
/* line 528, ../sass/main.scss */
.category .foto > img {
  height: 275px;
  float: left;
  margin-left: -10%;
}
/* line 533, ../sass/main.scss */
.category .foto > img.small-foto {
  height: 190px;
}
/* line 539, ../sass/main.scss */
.category .info .category-head {
  margin-bottom: 25px;
}
/* line 541, ../sass/main.scss */
.category .info .category-head .category-logo {
  max-width: 100px;
  margin-right: 30px;
}
/* line 544, ../sass/main.scss */
.category .info .category-head .category-logo img {
  max-width: 100px;
  min-width: 100px;
}
/* line 549, ../sass/main.scss */
.category .info .category-head h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
/* line 553, ../sass/main.scss */
.category .info .category-head h2 a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 557, ../sass/main.scss */
.category .info .category-head h2 a:hover {
  color: #be1723;
  border-bottom-color: rgba(190, 23, 35, 0.3);
}
/* line 563, ../sass/main.scss */
.category .info .category-head p {
  height: 18px;
  line-height: 18px;
  color: #000;
  margin: 7px 0 7px;
}
/* line 568, ../sass/main.scss */
.category .info .category-head p span {
  margin-right: 15px;
  float: left;
  color: #be1723;
  font-size: 18px;
}
/* line 573, ../sass/main.scss */
.category .info .category-head p span.icon-message {
  margin-left: 3px;
}
/* line 577, ../sass/main.scss */
.category .info .category-head p a {
  color: #009ee2;
  border-bottom: 1px solid rgba(0, 158, 226, 0.3);
  text-decoration: none;
}
/* line 586, ../sass/main.scss */
.category .top {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
/* line 589, ../sass/main.scss */
.category .top > h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}
/* line 594, ../sass/main.scss */
.category .top > h2 a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 598, ../sass/main.scss */
.category .top > h2 a:hover {
  color: #be1723;
  border-bottom-color: rgba(190, 23, 35, 0.3);
}
/* line 608, ../sass/main.scss */
.category .category-name {
  margin: 20px 0;
}
/* line 610, ../sass/main.scss */
.category .category-name a {
  padding: 5px 7px;
  float: left;
  color: #fff;
  background: #b52b86;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  border-radius: 3px;
}
/* line 622, ../sass/main.scss */
.category .category-links a {
  float: left;
  padding: 5px;
  margin-right: 9px;
  font-size: 14px;
  color: #1b7bc8;
  border: 1px solid rgba(27, 123, 200, 0.3);
  border-radius: 3px;
  line-height: 15px;
  text-decoration: none;
}
/* line 632, ../sass/main.scss */
.category .category-links a:hover {
  background: #1b7bc8;
  color: #fff;
}

/* line 640, ../sass/main.scss */
.page-nav {
  margin: 40px 0;
}
/* line 642, ../sass/main.scss */
.page-nav a {
  float: left;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  color: #54657e;
  background: #fff;
  text-decoration: none;
  font-size: 17px;
  margin: 0 2px;
}
/* line 653, ../sass/main.scss */
.page-nav a.icon {
  font-size: 13px;
  margin: 0 0;
}
/* line 657, ../sass/main.scss */
.page-nav a:hover {
  color: #be1723;
}
/* line 660, ../sass/main.scss */
.page-nav a.active {
  border-radius: 50%;
  background: #be1723;
  color: #fff;
}
/* line 666, ../sass/main.scss */
.page-nav span {
  float: left;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  color: #54657e;
  background: #fff;
  text-decoration: none;
}

/* line 679, ../sass/main.scss */
.bg {
  display: inline-block;
  width: 1040px;
  min-height: 500px;
  background: #f8f8f8;
  margin-left: -145px;
  padding: 0 154px 80px 145px;
}
/* line 687, ../sass/main.scss */
.bg .block-article {
  display: inline-block;
  width: 100%;
}

/* line 695, ../sass/main.scss */
.article {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
}
/* line 700, ../sass/main.scss */
.article .article-head .article-logo {
  max-width: 100px;
  margin-right: 30px;
}
/* line 703, ../sass/main.scss */
.article .article-head .article-logo img {
  max-width: 100px;
  min-width: 100px;
}
/* line 711, ../sass/main.scss */
.article .article-head h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 10px;
}
/* line 716, ../sass/main.scss */
.article .article-head h2 a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 720, ../sass/main.scss */
.article .article-head h2 a:hover {
  color: #be1723;
  border-bottom-color: rgba(190, 23, 35, 0.3);
}
/* line 732, ../sass/main.scss */
.article .article-head p {
  font-size: 16px;
}
/* line 735, ../sass/main.scss */
.article .article-head p {
  height: 18px;
  line-height: 18px;
  color: #000;
  margin: 7px 0 7px;
}
/* line 740, ../sass/main.scss */
.article .article-head p span {
  margin-right: 15px;
  float: left;
  color: #be1723;
  font-size: 18px;
}
/* line 745, ../sass/main.scss */
.article .article-head p span.icon-message {
  margin-left: 3px;
}
/* line 749, ../sass/main.scss */
.article .article-head p a {
  color: #009ee2;
  border-bottom: 1px solid rgba(0, 158, 226, 0.3);
  text-decoration: none;
}
/* line 756, ../sass/main.scss */
.article .foto {
  margin: 20px 0 25px;
}
/* line 758, ../sass/main.scss */
.article .foto img {
  width: 100%;
  max-width: 741px;
}
/* line 764, ../sass/main.scss */
.article .info p {
  font-size: 16px;
}
/* line 768, ../sass/main.scss */
.article .article-links {
  margin-top: 20px;
}
/* line 770, ../sass/main.scss */
.article .article-links a {
  float: left;
  padding: 5px;
  margin-right: 9px;
  font-size: 14px;
  color: #1b7bc8;
  border: 1px solid rgba(27, 123, 200, 0.3);
  border-radius: 3px;
  line-height: 15px;
  text-decoration: none;
}
/* line 780, ../sass/main.scss */
.article .article-links a:hover {
  background: #1b7bc8;
  color: #fff;
}

/* line 789, ../sass/main.scss */
.block-news {
  display: inline-block;
  max-width: 750px;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
}

/* line 795, ../sass/main.scss */
.news {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
}
/* line 800, ../sass/main.scss */
.news .news-head h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 10px;
}
/* line 805, ../sass/main.scss */
.news .news-head h2 a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 809, ../sass/main.scss */
.news .news-head h2 a:hover {
  color: #be1723;
  border-bottom-color: rgba(190, 23, 35, 0.3);
}
/* line 815, ../sass/main.scss */
.news .news-head p {
  font-size: 16px;
}
/* line 819, ../sass/main.scss */
.news .foto {
  margin: 20px 0 25px;
}
/* line 823, ../sass/main.scss */
.news .info p {
  font-size: 16px;
}
/* line 827, ../sass/main.scss */
.news .news-name {
  padding-top: 20px;
  margin: 40px 0 0;
  border-top: 1px solid #d8d8d8;
}
/* line 831, ../sass/main.scss */
.news .news-name a {
  padding: 5px 7px;
  float: left;
  color: #fff;
  background: #b52b86;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  border-radius: 3px;
}
/* line 842, ../sass/main.scss */
.news .news-links {
  margin-top: 20px;
}
/* line 844, ../sass/main.scss */
.news .news-links a {
  float: left;
  padding: 5px;
  margin-right: 9px;
  font-size: 14px;
  color: #1b7bc8;
  border: 1px solid rgba(27, 123, 200, 0.3);
  border-radius: 3px;
  line-height: 15px;
  text-decoration: none;
}
/* line 854, ../sass/main.scss */
.news .news-links a:hover {
  background: #1b7bc8;
  color: #fff;
}

/* line 862, ../sass/main.scss */
.socials-share {
  margin-top: 30px;
}
/* line 864, ../sass/main.scss */
.socials-share ul {
  list-style: none;
}
/* line 866, ../sass/main.scss */
.socials-share ul li {
  float: left;
  margin: 0;
}
/* line 869, ../sass/main.scss */
.socials-share ul li a {
  display: block;
  margin-right: 10px;
  overflow: hidden;
  padding: 1px;
}
/* line 875, ../sass/main.scss */
.socials-share ul li a.facebook .icon {
  background-position: 5px 0px;
  border-color: #4565af;
}
/* line 881, ../sass/main.scss */
.socials-share ul li a.vk .icon {
  background-position: -28px 0px;
  border-color: #6996c7;
}
/* line 887, ../sass/main.scss */
.socials-share ul li a.twitter .icon {
  background-position: -84px 0px;
  border-color: #28c3ff;
}
/* line 893, ../sass/main.scss */
.socials-share ul li a.odnoklassniki .icon {
  background-position: -133px 0px;
  border-color: #f3944c;
}
/* line 899, ../sass/main.scss */
.socials-share ul li a.googleplus .icon {
  background-position: -183px 0px;
  border-color: #ff714f;
}
/* line 906, ../sass/main.scss */
.socials-share ul li a:hover.facebook .icon {
  background-position: -8px 0;
  background-color: #4565af;
  border-color: #4565af;
}
/* line 913, ../sass/main.scss */
.socials-share ul li a:hover.vk .icon {
  background-position: -55px 0px;
  background-color: #6996c7;
  border-color: #6996c7;
}
/* line 920, ../sass/main.scss */
.socials-share ul li a:hover.twitter .icon {
  background-position: -111px 0px;
  background-color: #28c3ff;
  border-color: #28c3ff;
}
/* line 927, ../sass/main.scss */
.socials-share ul li a:hover.odnoklassniki .icon {
  background-position: -156px 0px;
  background-color: #f3944c;
  border-color: #f3944c;
}
/* line 934, ../sass/main.scss */
.socials-share ul li a:hover.googleplus .icon {
  background-position: -208px 0px;
  background-color: #ff714f;
  border-color: #ff714f;
}
/* line 940, ../sass/main.scss */
.socials-share ul li a:hover .counter {
  background-color: #f3f5f9;
}
/* line 944, ../sass/main.scss */
.socials-share ul li a .icon {
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  border: 1px solid #4565af;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: url("../../img/socials.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  float: left;
}
/* line 957, ../sass/main.scss */
.socials-share ul li a .counter {
  display: block;
  float: left;
  height: 22px;
  border: 1px solid #cad4e7;
  margin-left: 8px;
  font-size: 12px;
  padding: 0 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  background: #fff;
  position: relative;
  line-height: 20px;
}
/* line 970, ../sass/main.scss */
.socials-share ul li a .counter:before {
  content: '';
  position: absolute;
  border: 1px solid #cad4e7;
  border-right: none;
  border-bottom: none;
  background: #fff;
  width: 7px;
  height: 7px;
  left: -4px;
  top: 6px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*CONTENT RIGHT*/
/* line 991, ../sass/main.scss */
.content-right {
  width: 300px;
  margin-left: 60px;
  padding-left: 25px;
  border-left: 1px solid #d8d8d8;
}

/* line 1002, ../sass/main.scss */
.accordion-breather {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
/* line 1006, ../sass/main.scss */
.accordion-breather > h2 {
  font-size: 18px;
  padding: 25px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d8d8d8;
  text-transform: uppercase;
}
/* line 1015, ../sass/main.scss */
.accordion-breather h3 {
  color: #ac754d;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  border-bottom: 1px solid #d8d8d8;
}
/* line 1024, ../sass/main.scss */
.accordion-breather h3 > span {
  width: 9px;
  height: 9px;
  float: left;
  margin-top: 9px;
  margin-right: 10px;
}
/* line 1033, ../sass/main.scss */
.accordion-breather div > p {
  color: #ac754d;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  height: 28px;
  line-height: 28px;
  padding-left: 50px;
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;
}
/* line 1043, ../sass/main.scss */
.accordion-breather div > p > a {
  color: #ac754d;
  text-decoration: none;
}
/* line 1049, ../sass/main.scss */
.accordion-breather > .show-all {
  margin: 20px 0;
  padding-left: 28px;
  display: inline-block;
  width: 100%;
}
/* line 1054, ../sass/main.scss */
.accordion-breather > .show-all a {
  font-size: 18px;
  text-decoration: none;
  color: #be1723;
}

/* line 1062, ../sass/main.scss */
.ui-state-default .ui-icon {
  background: url(../../img/accordion-icon.png) no-repeat center left !important;
}

/* line 1067, ../sass/main.scss */
.ui-state-active .ui-icon {
  background: url(../../img/accordion-icon.png) no-repeat center right !important;
}

/* line 1074, ../sass/main.scss */
.timetable-move {
  margin-bottom: 30px;
}
/* line 1076, ../sass/main.scss */
.timetable-move > h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 1082, ../sass/main.scss */
.timetable-move a {
  border: 1px solid;
  text-decoration: none;
  border-radius: 5px;
  padding: 0 8px;
  height: 33px;
  display: inline-block;
  line-height: 32px;
  margin-bottom: 15px;
}
/* line 1091, ../sass/main.scss */
.timetable-move a span {
  margin-right: 5px;
  font-size: 18px;
  float: left;
  margin-top: 6px;
}
/* line 1096, ../sass/main.scss */
.timetable-move a span.icon-train {
  font-size: 20px;
}
/* line 1100, ../sass/main.scss */
.timetable-move a.bus {
  border-color: rgba(190, 21, 34, 0.3);
  color: #be1723;
}
/* line 1102, ../sass/main.scss */
.timetable-move a.bus:hover {
  background: #be1723;
  color: #fff;
}
/* line 1107, ../sass/main.scss */
.timetable-move a.train {
  border-color: rgba(10, 52, 103, 0.3);
  color: #0a3467;
  margin-bottom: 0;
}
/* line 1109, ../sass/main.scss */
.timetable-move a.train:hover {
  background: #0a3467;
  color: #fff;
}

/* line 1117, ../sass/main.scss */
.afisha {
  margin-bottom: 30px;
}
/* line 1119, ../sass/main.scss */
.afisha > h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 1125, ../sass/main.scss */
.afisha a {
  padding: 5px;
  border: 1px solid rgba(27, 123, 200, 0.3);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 8px;
  text-decoration: none;
  color: #1b7bc8;
}
/* line 1133, ../sass/main.scss */
.afisha a.lumer {
  color: #76666b;
}
/* line 1135, ../sass/main.scss */
.afisha a.lumer:hover {
  background: #76666b;
  color: #fff;
}
/* line 1140, ../sass/main.scss */
.afisha a.space {
  color: #0b41af;
}
/* line 1142, ../sass/main.scss */
.afisha a.space:hover {
  background: #0b41af;
  color: #fff;
}
/* line 1147, ../sass/main.scss */
.afisha a.filarmonia {
  color: #7fbb02;
}
/* line 1149, ../sass/main.scss */
.afisha a.filarmonia:hover {
  background: #7fbb02;
  color: #fff;
}
/* line 1154, ../sass/main.scss */
.afisha a.dols {
  color: #eb4146;
}
/* line 1156, ../sass/main.scss */
.afisha a.dols:hover {
  background: #be1723;
  color: #fff;
}
/* line 1161, ../sass/main.scss */
.afisha a.drama {
  color: #2c8fc0;
}
/* line 1163, ../sass/main.scss */
.afisha a.drama:hover {
  background: #2c8fc0;
  color: #fff;
}

/* line 1171, ../sass/main.scss */
.slide-item {
  margin-bottom: 30px;
}

/*╨Я╨Ю╨У╨Ю╨Ф╨Р*/
/* line 1176, ../sass/main.scss */
.weather {
  display: inline-block;
  width: 106%;
  margin-bottom: 30px;
}
/* line 1180, ../sass/main.scss */
.weather > h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 1186, ../sass/main.scss */
.weather .time {
  font-size: 14px;
  color: #9b9b9b;
  display: block;
  margin-bottom: 15px;
}
/* line 1192, ../sass/main.scss */
.weather .part-of-day {
  float: left;
  margin-right: 30px;
}
/* line 1195, ../sass/main.scss */
.weather .part-of-day:last-child {
  margin-right: 0;
}
/* line 1198, ../sass/main.scss */
.weather .part-of-day > span {
  font-size: 14px;
  color: #9b9b9b;
  display: block;
  height: 16px;
  margin-bottom: 10px;
}
/* line 1206, ../sass/main.scss */
.weather .group {
  float: left;
  margin-right: 13px;
}
/* line 1209, ../sass/main.scss */
.weather .group:last-child {
  margin-right: 0;
}
/* line 1212, ../sass/main.scss */
.weather .group .icon {
  font-size: 10px;
}
/* line 1214, ../sass/main.scss */
.weather .group .icon.icon-max {
  color: #ff4343;
}
/* line 1215, ../sass/main.scss */
.weather .group .icon.icon-min {
  color: #1bbcff;
}
/* line 1217, ../sass/main.scss */
.weather .group .deg {
  font-size: 13px;
  font-family: RobotoThin;
}
/* line 1224, ../sass/main.scss */
.weather .today .deg {
  font-size: 74px;
  font-family: RobotoThin;
  margin-right: 10px;
  display: inline-block;
}
/* line 1230, ../sass/main.scss */
.weather .today .icon {
  font-size: 58px;
}
/* line 1235, ../sass/main.scss */
.weather .tomorrow {
  margin: 35px 0 40px;
}
/* line 1237, ../sass/main.scss */
.weather .tomorrow .icon {
  font-size: 42px;
  margin: 0 10px 0 15px;
  display: inline-block;
}
/* line 1242, ../sass/main.scss */
.weather .tomorrow .deg {
  font-size: 20px;
}
/* line 1248, ../sass/main.scss */
.weather .week .week-item {
  float: left;
  margin: 0 9px;
}
/* line 1251, ../sass/main.scss */
.weather .week .week-item:first-child {
  margin-left: 0;
}
/* line 1252, ../sass/main.scss */
.weather .week .week-item:last-child {
  margin-right: 0;
}
/* line 1253, ../sass/main.scss */
.weather .week .week-item span {
  display: block;
  text-align: center;
  font-size: 13px;
  height: 14px;
}
/* line 1259, ../sass/main.scss */
.weather .week .week-item .day {
  text-transform: uppercase;
  color: #000;
}
/* line 1263, ../sass/main.scss */
.weather .week .week-item .icon {
  font-size: 22px;
  margin: 10px 0 15px;
}
/* line 1269, ../sass/main.scss */
.weather .icon-rain {
  color: #2990ae;
}
/* line 1270, ../sass/main.scss */
.weather .icon-cloud {
  color: #1bbcff;
  font-size: 16px !important;
  padding-top: 5px;
}
/* line 1271, ../sass/main.scss */
.weather .icon-sun {
  color: #ff9313;
}
/* line 1272, ../sass/main.scss */
.weather .icon-sunny {
  color: #ff9313;
}

/* line 1278, ../sass/main.scss */
.ticket {
  margin-bottom: 30px;
}
/* line 1280, ../sass/main.scss */
.ticket img {
  width: 100%;
  max-width: 220px;
}

/* line 1286, ../sass/main.scss */
.dovidka-contact {
  margin-bottom: 30px;
}
/* line 1288, ../sass/main.scss */
.dovidka-contact > h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 1294, ../sass/main.scss */
.dovidka-contact > p {
  color: #000;
  font-size: 14px;
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}
/* line 1300, ../sass/main.scss */
.dovidka-contact > p a {
  text-decoration: none;
  color: #1b7bc8;
  border-bottom: 1px solid rgba(27, 123, 200, 0.3);
}

/* line 1311, ../sass/main.scss */
.popular-themes > h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 1317, ../sass/main.scss */
.popular-themes a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 7px;
  border: 1px solid rgba(27, 123, 200, 0.3);
  border-radius: 5px;
  margin-bottom: 9px;
  height: 34px;
  line-height: 14px;
  color: #1b7bc8;
}
/* line 1327, ../sass/main.scss */
.popular-themes a:hover {
  background: #1b7bc8;
  color: #fff;
}
/* line 1333, ../sass/main.scss */
.popular-themes li:last-child a {
  margin-bottom: 0;
}

/* line 1340, ../sass/main.scss */
.main-header {
  background: url(../../img/head.png) no-repeat center;
  background-size: cover;
  width: 100%;
  min-width: 1200px;
}
/* line 1348, ../sass/main.scss */
.main-header a {
  color: #fff !important;
  border-bottom-color: rgba(255, 255, 255, 0.3) !important;
}
/* line 1352, ../sass/main.scss */
.main-header span {
  color: #fff !important;
}
/* line 1355, ../sass/main.scss */
.main-header .header .header-left {
  margin-left: 80px;
}
/* line 1359, ../sass/main.scss */
.main-header .add-poster a {
  color: #009bde !important;
  background: transparent;
  border: 1px solid #009bde !important;
}
/* line 1363, ../sass/main.scss */
.main-header .add-poster a:hover {
  color: #fff !important;
  background: #009bde;
}
/* line 1369, ../sass/main.scss */
.main-header input, .main-header .example {
  color: #fff !important;
}
/* line 1372, ../sass/main.scss */
.main-header select {
  color: #fff;
}
/* line 1375, ../sass/main.scss */
.main-header select option {
  color: #000 !important;
}

/* line 1381, ../sass/main.scss */
.main-content .content-left {
  margin-left: 80px;
  max-width: 740px;
}
/* line 1385, ../sass/main.scss */
.main-content .content-right {
  width: 266px;
  margin-left: 35px;
  padding-left: 15px;
  margin-top: 197px;
}

/*PAyment*/
/* line 1398, ../sass/main.scss */
.payment-left {
  max-width: 980px;
  margin-left: 145px;
}

/* line 1402, ../sass/main.scss */
.tariff-title {
  margin-left: 145px;
  margin-bottom: 25px;
  max-width: 1000px;
}
/* line 1406, ../sass/main.scss */
.tariff-title > h1 {
  font-size: 36px;
  font-weight: 600;
}

/* line 1412, ../sass/main.scss */
.tariffs {
  max-width: 300ppx;
  width: 300px;
  margin-right: 35px;
  border: 1px solid #d8d8d8;
  min-height: 560px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
/* line 1421, ../sass/main.scss */
.tariffs:hover {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* line 1424, ../sass/main.scss */
.tariffs:last-child {
  margin-right: 0;
}
/* line 1427, ../sass/main.scss */
.tariffs .payment-head {
  height: 70px;
  padding: 20px 25px 10px;
  background: #fff;
  color: #fff;
}
/* line 1432, ../sass/main.scss */
.tariffs .payment-head.test {
  background: #bababa;
}
/* line 1433, ../sass/main.scss */
.tariffs .payment-head.standart {
  background: #ffae00;
}
/* line 1434, ../sass/main.scss */
.tariffs .payment-head.full {
  background: #be1723;
}
/* line 1436, ../sass/main.scss */
.tariffs .payment-head .left .level {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
}
/* line 1442, ../sass/main.scss */
.tariffs .payment-head .left .kind {
  font-size: 21px;
}
/* line 1446, ../sass/main.scss */
.tariffs .payment-head .right {
  text-align: right;
  line-height: 40px;
}
/* line 1449, ../sass/main.scss */
.tariffs .payment-head .right .price {
  font-size: 38px;
}
/* line 1452, ../sass/main.scss */
.tariffs .payment-head .right .per-month {
  font-size: 12px;
}
/* line 1458, ../sass/main.scss */
.tariffs .payment-rule li {
  text-align: center;
}
/* line 1460, ../sass/main.scss */
.tariffs .payment-rule li span {
  border-bottom: 1px dashed #d8d8d8;
  padding: 15px 0 10px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}
/* line 1469, ../sass/main.scss */
.tariffs > p {
  font-size: 13px;
  width: 250px;
  margin: 10px auto 0;
}
/* line 1474, ../sass/main.scss */
.tariffs .choose {
  position: absolute;
  left: 0;
  bottom: 35px;
  width: 100%;
  text-align: center;
}
/* line 1480, ../sass/main.scss */
.tariffs .choose a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 212px;
  height: 42px;
  line-height: 42px;
  background: #95c11f;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}
/* line 1491, ../sass/main.scss */
.tariffs .choose a:hover {
  background: #be1723;
}

/* line 1499, ../sass/main.scss */
.payment-right {
  max-width: 300px;
  padding-left: 40px;
}

/* line 1506, ../sass/main.scss */
.tabs {
  background: #fafafa;
  padding: 35px 40px;
}
/* line 1509, ../sass/main.scss */
.tabs > h2 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
/* line 1514, ../sass/main.scss */
.tabs > ul {
  display: inline-block;
  width: 100%;
  margin: 20px 0 30px;
  border: 1px solid #8092aa;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
}
/* line 1522, ../sass/main.scss */
.tabs > ul li {
  float: left;
  width: 50%;
  text-align: center;
  height: 35px;
  line-height: 35px;
  outline: none;
}
/* line 1529, ../sass/main.scss */
.tabs > ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  outline: none;
}
/* line 1535, ../sass/main.scss */
.tabs > ul li.ui-tabs-active.ui-state-active {
  background: #8092aa;
}
/* line 1537, ../sass/main.scss */
.tabs > ul li.ui-tabs-active.ui-state-active a {
  color: #fff;
}
/* line 1543, ../sass/main.scss */
.tabs .data {
  display: block;
  font-size: 14px;
  color: #7f7f7f;
  text-align: center;
  margin-bottom: 25px;
}
/* line 1550, ../sass/main.scss */
.tabs .show-all {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
/* line 1555, ../sass/main.scss */
.tabs .show-all a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 7px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 9px;
  line-height: 16px;
  font-size: 18px;
  color: #000;
}

/* line 1569, ../sass/main.scss */
.event-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
/* line 1573, ../sass/main.scss */
.event-item > span {
  display: block;
  font-size: 14px;
  color: #7f7f7f;
  text-align: center;
  margin-bottom: 25px;
}
/* line 1580, ../sass/main.scss */
.event-item .time {
  height: 20px;
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 5px;
}
/* line 1588, ../sass/main.scss */
.event-item .time span {
  font-size: 14px;
  color: #a86f41;
  background: #fafafa;
  position: relative;
  z-index: 2;
}
/* line 1595, ../sass/main.scss */
.event-item .time hr {
  position: absolute;
  top: 45%;
  left: 0;
  border-top: 1px dashed #000;
  margin: 0 0;
  padding: 0 0;
  z-index: 1;
}
/* line 1605, ../sass/main.scss */
.event-item .event {
  text-decoration: none;
  border-bottom: 1px solid rgba(27, 123, 200, 0.3);
  color: #1b7bc8;
}

/* line 1613, ../sass/main.scss */
.single-article {
  display: inline-block;
  width: 100%;
  max-width: 800px;
}

/* line 1619, ../sass/main.scss */
.single-article-links {
  margin-bottom: 20px;
}
/* line 1621, ../sass/main.scss */
.single-article-links ul {
  list-style: none;
}
/* line 1623, ../sass/main.scss */
.single-article-links ul li {
  float: left;
  list-style: none;
}
/* line 1626, ../sass/main.scss */
.single-article-links ul li a {
  float: left;
  padding: 5px;
  margin-right: 9px;
  font-size: 14px;
  color: #000;
  border: 1px solid transparent;
  border-radius: 3px;
  line-height: 15px;
  text-decoration: none;
}
/* line 1636, ../sass/main.scss */
.single-article-links ul li a:hover {
  color: rgba(0, 0, 0, 0.5);
}
/* line 1639, ../sass/main.scss */
.single-article-links ul li a.active {
  color: #be1723;
  border-color: rgba(190, 23, 35, 0.3);
}

/* line 1648, ../sass/main.scss */
.article-dani {
  margin-bottom: 25px;
}
/* line 1650, ../sass/main.scss */
.article-dani .title {
  margin-left: -145px;
  float: left;
  line-height: 35px;
  font-size: 16px;
  color: #666666;
}
/* line 1657, ../sass/main.scss */
.article-dani .name {
  font-size: 24px;
  float: left;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 15px;
  width: 100%;
  max-width: 800px;
}
/* line 1665, ../sass/main.scss */
.article-dani .link {
  float: left;
  width: 100%;
  max-width: 800px;
  margin-top: 5px;
}
/* line 1673, ../sass/main.scss */
.article-dani .link a {
  padding: 5px 7px;
  float: left;
  color: #fff;
  background: #b52b86;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  border-radius: 3px;
}
/* line 1684, ../sass/main.scss */
.article-dani .links {
  float: left;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 15px;
  width: 100%;
  max-width: 800px;
  margin-top: 5px;
}
/* line 1692, ../sass/main.scss */
.article-dani .links > a {
  float: left;
  padding: 5px;
  margin-right: 9px;
  font-size: 14px;
  color: #1b7bc8;
  border: 1px solid rgba(27, 123, 200, 0.3);
  border-radius: 3px;
  line-height: 15px;
  text-decoration: none;
}

/* line 1706, ../sass/main.scss */
.map {
  margin: 20px 0 15px;
  width: 100%;
  height: 315px;
  max-width: 800px;
}

/* line 1714, ../sass/main.scss */
.recomend,
.lateastAdd {
  border-bottom: 1px solid #d8d8d8;
  font-size: 24px;
  color: #8092aa;
  padding-bottom: 20px;
  text-align: center;
}

/* line 1723, ../sass/main.scss */
.more-news {
  display: inline-block;
  width: 100%;
}
/* line 1726, ../sass/main.scss */
.more-news a {
  width: 156px;
  height: 46px;
  text-align: left;
  padding-left: 15px;
  text-decoration: none;
  line-height: 46px;
  font-size: 18px;
  font-weight: bold;
  left: 46px;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background: url(../../img/arrow-right.png) no-repeat center right 15px #be1723;
}
/* line 1740, ../sass/main.scss */
.more-news a:hover {
  background-color: #95c11f;
}

/* line 1746, ../sass/main.scss */
.might-intresting {
  margin-bottom: 25px;
}
/* line 1748, ../sass/main.scss */
.might-intresting strong {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

/*FOOTER BEGIN*/
/* line 1756, ../sass/main.scss */
.footer {
  border-top: 5px solid #000;
  width: 100%;
  min-width: 1200px;
  display: inline-block;
  padding: 0 20px 20px;
}

/* line 1765, ../sass/main.scss */
.breadcrumbels {
  padding: 15px 0;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 30px;
}
/* line 1769, ../sass/main.scss */
.breadcrumbels ul {
  margin: 0 0;
  padding: 0 0;
}
/* line 1772, ../sass/main.scss */
.breadcrumbels ul li {
  float: left;
  padding-right: 22px;
  margin-right: 5px;
  list-style: none;
  background: url(../../img/list-arrow.png) no-repeat center right;
}
/* line 1779, ../sass/main.scss */
.breadcrumbels ul li:last-child {
  list-style: none;
  background: transparent;
}
/* line 1783, ../sass/main.scss */
.breadcrumbels ul li a {
  text-decoration: none;
  color: #1b7bc8;
  font-size: 16px;
}
/* line 1787, ../sass/main.scss */
.breadcrumbels ul li a:hover {
  color: #be1723;
}
/* line 1791, ../sass/main.scss */
.breadcrumbels ul li span {
  font-size: 16px;
  color: #000;
}

/* line 1800, ../sass/main.scss */
.footer-nav h4 {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 1805, ../sass/main.scss */
.footer-nav h4 span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 1809, ../sass/main.scss */
.footer-nav ul {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}
/* line 1813, ../sass/main.scss */
.footer-nav ul li {
  display: block;
  list-style: none;
}
/* line 1816, ../sass/main.scss */
.footer-nav ul li a {
  text-decoration: none;
  text-decoration: none;
  color: #1b7bc8;
  font-size: 12px;
  border-bottom: 1px solid rgba(27, 123, 200, 0.3);
}
/* line 1822, ../sass/main.scss */
.footer-nav ul li a:hover {
  color: #be1723;
  border-bottom-color: rgba(190, 23, 35, 0.3);
}

/* line 1831, ../sass/main.scss */
.copyraite {
  margin-top: 45px;
}
/* line 1833, ../sass/main.scss */
.copyraite p {
  color: #000;
  text-indent: -13px;
  max-width: 400px;
  font-size: 12px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 1842, ../sass/main.scss */
  .header .search > select {
    background: url(../../img/black-arrow-down.png) no-repeat center right 10px transparent;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 1848, ../sass/main.scss */
  .main-header select {
    background: url(../../img/white-arrow-down.png) no-repeat center right 10px transparent !important;
  }
}
